.navbar-custom {
	padding: 0.5em 5em;
	background-color:#222222;
}

.main-content {
	min-height: calc(100vh - 170px);
}

.border-1 { border-width:0.1em !important; }
.border-2 { border-width:0.2em !important; }
.border-3 { border-width:0.3em !important; }
.border-4 { border-width:0.4em !important; }
.border-5 { border-width:0.5em !important; }

.bg-image {
	background: url("../../images/background-image.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.bg-custom {
	background: #508DBB;
}

.bg-opacity-4 { background: rgba(255, 255, 255, 0.4); }
.bg-opacity-5 { background: rgba(255, 255, 255, 0.5); }
.bg-opacity-6 { background: rgba(255, 255, 255, 0.6); }
.bg-opacity-8 { background: rgba(255, 255, 255, 0.8); }
.bg-opacity-9 { background: rgba(255, 255, 255, 0.9); }

/* Override */
.card {
	overflow: hidden;
}

.card img {	
	max-height: 100%;
	width: 100%;
    height: auto;
	display: block;
	transition: all 0.5s;
}

.card:hover img {
    transform: scale(1.1);
}

