* {
	font-family: Arial, Helvetica, sans-serif;
}

hr {
	margin-left: 2em;
	margin-right: 2em;
}

.body {
	background-image: url("background1.jpg");
	background-repeat: no-repeat;
	background-position: right top;
	background-attachment: fixed;
	background-size: cover;
	
	margin: 0px;
}

/* Component */
.header{
	padding: 0.5em 5em;
	background-color:#2c3e50;
}

.header-title {
	font-size: 2em;
	color: #fff;
	text-decoration: none;
}

.nav {
	
}

.nav .nav-item {
	color: #fff;
	font-size: 1.2em;
	margin: 0.3em;
	text-decoration: none;
}

.container {
	width: 80%;
	margin: auto;
}

.section {
	padding: 0.5em;
}
.section-category {
	margin: 0.1em;
	padding: 0.1em;
	padding-left: 1em;
}

.card {
	width: 14em;
	height: 19em;
	background: #fff
}

.card .card-image {
	height: 85%;
}

.card .card-image img{
	max-width: 100%;
}

.card .card-info {
	height: 15%
}

/* Layout */
.container {
	
}

/* utilities */
.bg-opacity {
	background: rgba(255, 255, 255, 0.6);
}

.bg-dark {
	background-color:#2c3e50;
}

.flex-wrap {
	display: flex;
	flex-wrap: wrap;
}

.justify-content-center {
	display: flex;
	justify-content: center;
}

.justify-content-between {
	display: flex;
	justify-content: space-between;
}

.align-items-baseline {
	display: flex;
	align-items: baseline;
}

.m-1{margin: 1em;}
.m-2{margin: 2em;}
.m-3{margin: 3em;}
.m-4{margin: 4em;}

.mt-1{margin-top: 1em;}
.mt-2{margin-top: 2em;}
.mt-3{margin-top: 3em;}
.mt-4{margin-top: 4em;}
	
.p-1{padding: 1em;}
.p-2{padding: 2em;}
.p-3{padding: 3em;}
.p-4{padding: 4em;}

.border {
	border-style: solid;
	border-width: 0.1em;
}

.rounded {
	border-radius: 0.4em;
}














